body{

    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}
.container-wrap{
    background: url(../img/comp-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

}
.border{
    /*background-color: #111;*/
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    /*box-shadow: 3px 3px 3px 3px;*/
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #2b7ca2b0;
}

.caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.upper-wrapper {
    width:100%;
    display: inline-block;
    /*background-color: #1FC1C1;*/

}
.upper-wrapper h1{
    color: #8FC300;
}
.lower-wrapper{
    /*background-color: #f0f2f4;*/
    display: inline-block;
    width: 100%;
}
.lb {
    /*border: solid 1px greenyellow;*/
    min-height: 300px;
    text-align: center;
}

.rb {
    /*border: solid 1px #4ed6ff;*/
    min-height: 300px;
    margin-top: 25px;
}

.prof-pic {
    background: url(../img/unknown.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 9px #8FC300;
    border-radius: 50%;


}

.cv-btn {
    background-color:  #8FC300;
   color:#fff;
}
.cv-btn:hover{
    background-color: #61c311;
}
.progress{

    width: 51%;
    float: right;
    margin-right: 55px;
}
.progress-bar{
    width: 85%;
    font-size: 17px;
    font-weight: bold;
    background-color: #8fc305;
}

.footer-wrap{
    /*background-color: #F58865;*/
    /*background-color: #f0f2f4;*/
    height: 175px;

}
footer{
    background: #203345;
    color: #fff;
    text-align: center;
}